<% include header.ejs %>
<div class="container">
 <h1><span class="glyphicon glyphicon-book"></span><%= title %></h1>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>樹莓派使用說明</h4>
    </div>
    <div class="panel-body">
        <dl>
         <dt>啟動機器的方式如下：</dt>
	  <dd>－登入即可開啟虛擬機，機器如未開啟請進行以下動作↓
          <dd>1. 至少需要選擇一個『部門硬碟名稱』後才能夠點選『開啟機器』按鈕來替雲端主機開機</dd>
          <dd>2. 預設是硬碟開機，可選擇光碟開機</dd>
          <dd>3. 點擊右上角的關機鈕可將樹梅派關閉</dd>
	 <br>
	 <dt>&rArr; 若未將虛擬機關閉，下次登入此帳號還會是虛擬機的畫面</dt>
         <br>
         <dl>
    </div>
  </div>
</div>
<% include footer.ejs %>

