<% include header.ejs %>
<div class="container">
    <h2><span class="glyphicon glyphicon-plus-sign"></span><%= title %></h2>
    <hr>
    <div id="account-form-container" class="col-md-6">
      <form  id="news-form" class="form-signin" role="form" method="post">
        <div class="form-group">
          <label for="usr">發文者：<%= user.name %>(<%= user.account %>)</label>
        </div>        
        <div class="form-group">
          <label>主旨：</label>
          <input id="subject-tf" type="text" name="subject" class="form-control" placeHolder="請輸入主旨"/>
        </div>
        <div class="form-group">
          <label>最新消息內容：</label>
          <textarea rows="16" id="content-tf" type="text" name="content" class="form-control" placeHolder="請輸入內容"></textarea>
        </div>
        <div class="form-buttons navbar-right">
          <a href='news'><input class="btn"type="button" value="取消"></input></a>
          <button type="submit" id="news-form-btn" class="btn"></button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <% include modals/form-errors %>
    <% include modals/alert %>
</div>
<script src="/javascripts/views/pi/news.js"></script>
<script src="/javascripts/controllers/pi/newsController.js"></script>
<script src="/javascripts/form-validators/pi/newsValidator.js"></script>
<% include footer.ejs %>

