<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link  rel="stylesheet" href="/stylesheets/style.css"/>
<link  rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css"/>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>	
  <% if (register == 'no') { %>
  <div class="center">
    <div class="well" style="background-color: #a6d2f7; width: 400px;">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img class="img-responsive" src="/images/lock.png">
        </div>
      </div>
      <div class="row">
         <h3 style="color: white; text-align: center;">系統目前不開放會員註冊功能...</h3>
      </div>
    </div>
  </div>
  <% } else { %>
    <% include account %>
  <% } %>
  <% include modals/alert %>
  <script src="/vendor/jquery-2.2.3.min.js"></script>
  <script src="/vendor/jquery.form.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/javascripts/views/pi/signup.js"></script>
  <script src="/javascripts/controllers/pi/signupController.js"></script>
  <script src="/javascripts/form-validators/pi/accountValidator.js"></script>
</body>
</html>
