
<div class="modal-form-errors modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">x</button>
        <h4><span class="glyphicon glyphicon-exclamation-sign"></span>注意!</h4>
      </div>
      <div class="modal-body">
         <p></p>
        <ul></ul>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
