<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" href="/stylesheets/style1.css"/>
<link  rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link rel="stylesheet" href="/stylesheets/whhg.css"/>
<script src="/javascripts/jquery.min.js"></script>
<script src="/vendor/jquery.form.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</head>
<body class="mybody">
<nav id="navv" class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/main">Cloud Office</a>
    </div>
  </div>
</nav>
<div class="err">
  <h1>Oops!</h1>
  <h2>您所找尋的頁面無法瀏覽或不存在</h2>
  <h2><a href="main">請點此回首頁<span class="glyphicon glyphicon-arrow-right"></span</a></h2>
</div>
</body>
</html>
