<% include header.ejs %>
<div class="container">
 <h1><span class="glyphicon glyphicon-book"></span><%= title %></h1>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>虛擬機使用說明</h4>
    </div>
    <div class="panel-body">
	<dl>
	 <dt>請依用戶的作業系統安裝相關軟體：</dt>
          <dd>－Linux用戶端請使用類似『yum install spice-client』安裝軟體</dd>
          <dd>－Windows用戶可下載spice官網提供之virt-viewer</dd>
	  <dd>－<a href="download">軟體下載</a></dd>
	 <br>
         <dt>啟動機器的方式如下：</dt>
      	  <dd>1. 點選【開啟/關閉虛擬機】按鈕</dd>
      	  <dd>2. 至少需要選擇一個『部門硬碟名稱』後才能夠點選『開啟機器』按鈕來替雲端主機開機</dd>
      	  <dd>3. 預設是硬碟開機，可選擇光碟開機</dd>
	 <br>
	 <dl>
         <dt>Windows 用戶端【SPICE 的 virt-viewer】為例：</dt>
          <dd>1. 安裝好了 virt-viewer 之後，直接在開始程式集裡面呼叫 『VirtViewer 』-->『Remote Viewer』</dd>
          <dd>2. 在出現的視窗中，在網址列輸入『 spice://IP:port 』即可連線。</dd>
      	</dl>
    </div>
   </div>
</div>
<% include footer.ejs %>

