<div class="container">
  <hr />
  <footer>
    <p class="pull-right">
      <a href="main">首頁</a> |
      <a href="news">最新資訊</a> |
      <a href="vmstatus">開啟/關閉虛擬機</a> |
      <a href="userprofile">會員資料</a> |
      <a href="download">軟體下載</a> |
      <a href="comment">使用說明</a> | 
      <a href="logout">登出</a>
      © 2018 CloudOffice
    </p>
  </footer>
</div>
</body>
</html>

