  <div id="set-password" class="modal show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>重設密碼</h4>
        </div>
        <div class="modal-body">
          <form method="post" id="set-password-form" class="well">
            <div class="form-group">
              <label>請輸入您的新密碼:</label>
              <input type="password" name="passwd" id="pass-tf" class="form-control" placeHolder="請輸入密碼" autofocus required/>
            </div>
            <div class="form-group">
              <label>確認新密碼:</label>
              <input type="password" name="repasswd" id="repass-tf" class="form-control" placeHolder="請再次輸入密碼" required/>
              <div class="alert alert-danger hide"></div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="set-password-form" id="set-password-submit" class="btn btn-primary">送出</button>
        </div>
      </div>
    </div>
  </div>
